.data-headers {
  /* display: flex;
  justify-content: space-around; */
  width: 95%;
  margin: auto;
}

/* .lower-graph {
  width: 50%;
} */
.data-top {
  margin-top: 3%;
}
.boxes {
  background: white;
  border: black solid 1px;
  -moz-box-shadow: 3px 3px 5px 6px #ccc;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow: 3px 3px 5px 6px #ccc;
  width: 90%;
  height: 90%;
  display: flex;
  justify-content: center;
  padding: 10px;
  margin: 10px;
  /* display: grid;
  grid-template-columns: 40% 40%;
  grid-template-rows: 40vh 40vh;  */
}

.backButton {
  margin-top: 10px;
  margin-left: 5px;
}
