.data-top {
  margin-top: 1%;
  height: 200px;
}
.boxes {
  background: white;
  border: rgb(228, 222, 222) solid 1px;
  -moz-box-shadow: 2px 3px #ccc;
  -webkit-box-shadow: 2px 3px #ccc;
  box-shadow: 2px 3px #ccc;
  border-radius: 9px;
  width: 39vw;
  height: 58vh;
  /* display: flex;  */
  /* justify-content: center; */
  padding: 10px;
  margin: 10px;
  /* overflow-wrap: true; */
  /* display: grid;
  grid-template-columns: 40% 40%;
  grid-template-rows: 40vh 40vh; */
}

.backButton {
  margin-top: 10px;
  margin-left: 5px;
}

.sideNavOpen {
  left: 0;
  height: 119.8vh;
  width: 15vw;
  background: #ddd;
  float: left;
  border-right: solid black 2px;
  animation: open 1s forwards;
  background-color: #f5f5f5e9;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
.showNav {
  animation: open 1.5s;
}

.sideNavClose {
  left: 0;
  height: 117.8vh;
  width: 15vw;
  background: #ddd;
  float: left;
  border-right: solid black 2px;
  animation: close 1s forwards;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

@keyframes open {
  from {
    transform: translateX(-500px);
    width: 0%;
  }

  to {
    transform: translateX(0);
    width: 15vw;
  }
}

@keyframes close {
  from {
    transform: translateX(0);
    width: 15vw;
  }

  to {
    transform: translateX(-500px);
    width: 0%;
  }
}

.borderHeaders {
  width: 99.5%;
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  margin: 0 0 5px 0;
}
.headerText {
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  margin: 0;
}

.charts {
  height: 85%;
  width: 37vw;
}
/* .tables {
  height: 10vh;
} */

.gridholder {
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 40% 40%;
  justify-items: center;
  align-content: center;
  grid-gap: 10px 15px;
  margin-bottom: 45px;
  margin-left: 12%;
}

.profilesButton {
  width: 10vw;
  margin: 5px;
}

.loadButton {
  left: 10px;
}
.collapsible-header {
  text-align: center;
  font-size: 17px;
  font-weight: 700;
}
.tableRowEnergy {
  height: 81px;
}
.centerCollapse {
  display: none;
}

@media only screen and (max-width: 3000px) {
  table tr {
    height: 68px;
  }
}
@media only screen and (max-width: 1920px) {
  .tableRowEnergy {
    height: 67px;
  }

  table tr {
    height: 0px;
  }
  table td,
  table th {
    font-size: 0.9em;
  }
}


@media only screen and (max-width: 1900px) {
  .tableRowEnergy {
    height: 107px
  }
  table tr {
    height: 75px
  }
  

}
@media only screen and (max-width: 1700px) {
  .tableRowEnergy {
    height: 107px
  }
  table tr {
    height: 75px
  }
  

}
@media only screen and (max-width: 1600px) {
  .tableRowEnergy {
    height: 67px
  }
  table tr {
    height: 38px
  }
  

}


@media only screen and (max-width: 1050px) {
  .gridholder {
    display: grid;
    grid-template-columns: 1fr;
  }
  .boxes {
    width: 54vw;
  }
  .charts {
    margin: auto;
  }

  table tr {
    height: 41px
  }
  canvas {
    width: 124% !important;
    right: 11%;
    position: relative;
  }
  .sideNavClose,
  .sideNavOpen,
  .material-icons {
    display: none;
  }
  .centerCollapse {
    display: block;
    width: 50%;
    margin: auto;
  }
  .tableRowEnergy {
    height: 58px;
  }
}

@media only screen and (max-width: 1000px) {
  .tableRowEnergy {
    height: 58px;
  }
  table tr {
    height: 41px
  }
}

@media only screen and (max-width: 800px) {
  table tr {
    height: 41px
  }
  .tableRowEnergy {
    height: 57px;
  }
}
@media only screen and (max-width: 750px) {
  .charts,
  .pieholder,
  .barholder,
  .displayCollapse,
  .profileDisplay {
    display: none;
  }

}

@media only screen and (max-width: 650px) {
  table td {
    font-size: 1em;
  }
  .charts {
    height: 44%;
    width: 53vw;
  }
  .boxes {
    width: 74vw;
    height: 59vh;
  }
  /* table tr {
    height: 78px;
    overflow: hidden;
  } */
  table th {
    font-size: 1.16em;
  }
}

/* @media only screen and (max-width: 460px) {
} */

@media only screen and (max-width: 500px) {
  table tr {
    height: 42px;
  }
  table th {
    font-size: 0.98em;
  }
}

@media only screen and (max-width: 465px) {
  table tr {
    height: 39px;
  }
  table th {
    font-size: 0.95em;
  }
}

@media only screen and (max-width: 416px) {
  .boxes {
    height: 56vh;
  }
  .tableRowEnergy {
    height: 55px;
}
table tr {
  height: 32px;
}
table th {
  font-size: 0.91em;
}
}
@media only screen and (max-width: 400px) {
table tr {
  height: 28px;
}
table th {
  font-size: 0.83em;
}
}
@media only screen and (max-width: 375px) {
  table td {
    font-size: 0.7em;
  }
  table tr {
    height: 20px;
  }
  .boxes {
    height: 45vh;
  }
  table th {
    font-size: 0.80em;
  }
  .tableRowEnergy {
    height: 41px;
  }
}

@media only screen and (max-width: 360px) {
  table th {
    font-size: 0.79em;
  }
}

@media only screen and (max-width: 320px) {
  .tableRowEnergy {
    height: 37px;
  }
  table th {
    font-size: 0.68em;
  }
  .boxes {
    height: 45vh;
  }
}
