.data-top {
  margin-top: 1%;
  height: 200px;
}
.boxes {
  background: white;
  border: black solid 1px;
  -moz-box-shadow: 3px 3px 5px 6px #ccc;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow: 3px 3px 5px 6px #ccc;
  border-radius: 9px;
  width: 39vw;
  height: 53vh;
  /* display: flex;  */
  /* justify-content: center; */
  padding: 10px;
  margin: 10px;
  /* overflow-wrap: true; */
  /* display: grid;
  grid-template-columns: 40% 40%;
  grid-template-rows: 40vh 40vh; */
}

.backButton {
  margin-top: 10px;
  margin-left: 5px;
}

.sideNavOpen {
  left: 0;
  height: 117.8vh;
  width: 15vw;
  background: lightblue;
  float: left;
  border-right: solid black 1px;
  animation: open 1s forwards;
}
.showNav {
  animation: open 1.5s;
}

.sideNavClose {
  left: 0;
  height: 117.8vh;
  width: 15vw;
  background: lightblue;
  float: left;
  border-right: solid black 1px;
  animation: close 1s forwards;
}

@keyframes open {
  from {
    transform: translateX(-500px);
    width: 0%;
  }

  to {
    transform: translateX(0);
    width: 15vw;
  }
}

@keyframes close {
  from {
    transform: translateX(0);
    width: 15vw;
  }

  to {
    transform: translateX(-500px);
    width: 0%;
  }
}

.borderHeaders {
  width: 99.5%;
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  margin: 0 0 5px 0;
}
.headerText {
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  margin: 0;
}

.charts {
  height: 80%;
  width: 37vw;
}
/* .tables {
  height: 10vh;
} */

.gridholder {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 40% 40%;
  justify-items: center;
  align-content: center;
  grid-gap: 10px 15px;
  margin-bottom: 45px;
}
