.data-headers {
  /* display: flex;
  justify-content: space-around; */
  /* width: 95%; */
  /* margin: auto; */
}

/* .lower-graph {
  float: left;
} */
.data-top {
  margin-top: 1%;
  height: 200px;
}
.boxes {
  background: white;
  border: black solid 1px;
  -moz-box-shadow: 3px 3px 5px 6px #ccc;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow: 3px 3px 5px 6px #ccc;
  border-radius: 9px;
  width: 39vw;
  height: 53vh;
  /* display: flex;  */
  /* justify-content: center; */
  padding: 10px;
  margin: 10px;
  /* overflow-wrap: true; */
  /* display: grid;
  grid-template-columns: 40% 40%;
  grid-template-rows: 40vh 40vh; */
}

.backButton {
  margin-top: 10px;
  margin-left: 5px;
}

.sideNavOpen {
  left: 0;
  height: 180vh;
  width: 15vw;
  background: lightblue;
  float: left;
  border-right: solid black 1px;
  animation: open 1s forwards;
}
.showNav {
  animation: open 1.5s;
}

.sideNavClose {
  left: 0;
  height: 180vh;
  width: 15vw;
  background: lightblue;
  float: left;
  border-right: solid black 1px;
  animation: close 1s forwards;
}

@keyframes open {
  from {
    transform: translateX(-500px);
    width: 0%;
  }

  to {
    transform: translateX(0);
    width: 15vw;
  }
}

@keyframes close {
  from {
    transform: translateX(0);
    width: 15vw;
  }

  to {
    transform: translateX(-500px);
    width: 0%;
  }
}

.borderHeaders {
  /* height: 50px;
  width: 460px; */
  width: 99.5%;

  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  /* background: rgba(0, 0, 0, 0.08);
  border-radius: 8px; */
  /* box-shadow: inset 0 0 5px black, 0 0 6px black; */
  /* box-shadow: inset 1px 1px 10px black, 0 0 30px black; */
  /* box-shadow: inset 0px 0px 10px black, 0 0 20px black; */
  /* box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.5), 0 0 30px black; */
  /* padding: 5px 10px;
  display: inline-block;
  margin: 5px;
  vertical-align: top; *

  /* position: relative;
  left: %; */
  /* left: 94%;
  text-align: right; */
  margin: 0 0 5px 0;
}
.headerText {
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  margin: 0;
}

.charts {
  height: 80%;
  width: 100%;
}
/* .tables {
  height: 10vh;
} */

.table1 {
  height: 100px;
}
