.checkout-cart {
  margin: 20px auto;
}
#box {
  width: 50%;
  margin: auto;
  text-align: center;
  position: absolute;
  top: 150px;
  left: 25%;
  color: white;
}
#inner-box-donate {
  width: 80%;
  margin: auto;
}
#donate-background {
  background-color: #272d4e;
  background-image: radial-gradient(
    circle farthest-side at right bottom,
    #414b82 34%,
    #272d4e 100%
  );
  height: 800px;
}
#small-text-donate {
  margin: 25px 50px;
}
@media only screen and (max-width: 700px) {
  #box h4,
  #box h5 {
    font-size: 14px;
  }
  #box {
    left: 0;
    width: 100%;
    margin: auto;
  }
}
