body {
  background: #f2f2f2;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 50px;
  left: 10px;
}

.App-header {
  background-color: #222;
  height: 80px;
  padding: 20px;
  color: white;
  display: flex;
  justify-content: space-around;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.navbar {
  background: rgb(56, 67, 90);
  padding: 0 10px;
  height: 70px;
}

.App-title {
  font-size: 1.5em;
  margin: auto;
}

.login {
  border-radius: 4px;
  cursor: pointer;
  background: white;
  color: black;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
