.dashboardModal {
  width: 46%;
  height: 60vh;
  position: absolute;
  top: 11%;
  left: 25%;
  border-radius: 4px;
  background-color: white;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
  z-index: 2000;
  /* animation: bounce 0.5s; */
  animation: minimise 0.3s;
}

@-webkit-keyframes minimise {
  0% {
    -webkit-transform: scale3d(0.1, 0.1, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
  }
}

.modalBackground {
  height: 200px;
  width: 100px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.5);
}

.card {
  height: 37vh;
  width: 17vw;
  margin: 5vh 0vw 0vh;
  padding: 10px 4%;
  border-radius: 6px;
  /* background-color: #f5f5f5; */
  background-color: #546e7a;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  text-align: center;
  text-decoration: none;
}

.card a {
  color: inherit;
}

.card h4 {
  font-size: 30px;
  border-bottom: 1px solid black;
}
.card p {
  font-size: 17px;
  color: white;
}
.card h5 {
  font-size: 23px;
  color: white;
}

.histCardP {
  /* display: grid;
  grid-template-columns: 1fr 1fr; */
}
.bottom-card {
  position: absolute;
  bottom: 8%;
  width: 90%;
}

.hrCard {
  width: 90%;
}
.bottom-card-button {
  width: 56%;
  color: black;
}

.historyContainer {
  height: 94%;
  margin: 5px 5px;
  overflow: scroll;
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.center-words {
  position: relative;
  left: 10px;
  color: black;
}
.exitButton {
  width: 25px;
  height: 25px;
  position: absolute;
  left: 96.5%;
  bottom: 94.5%;
}
.uploadSubmit {
  position: relative;
  top: -20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-around;
  margin-bottom: -36px;
  width: 61%;
  /* display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center; */
}

#notmine {
  /* position: absolute;
  left: 25%;
  top: 59%; */
  display: grid;
  justify-content: center;
  /* margin-top: 22px; */
}
.smallViewText {
  display: none;
}
.smallHistoryDisplay {
  display: none;
}

@media only screen and (max-width: 1450px) {
  #file-upload {
    margin: 20px 40px;
    width: 109px;
  }
  .uploadsubmit {
    width: 39%;
  }
  .modalButton {
    margin-left: -66px;
  }
  #final-submit {
    margin: 20px;
  }
  .exitButton {
    left: 94.5%;
    bottom: 94.5%;
  }
}
@media only screen and (max-width: 1205px) {
  .exitButton {
    left: 93.5%;
    bottom: 93.5%;
  }
  #file-upload {
    margin: 20px -7% 40px;
  }
  .card {
    margin: 5vh 0vw 0vh 0vw;
  }
  .bottom-card {
    width: 90%;
    right: 7px;
  }
  .card h4 {
    font-size: 2vw;
  }
  .card p {
    font-size: 1.2vw;
  }
  .card h5 {
    font-size: 1.3vw;
  }
}

@media only screen and (max-width: 1050px) {
  .historyContainer {
    grid-template-columns: 1fr;
  }
  .card {
    height: 24vh;
    width: 30vw;
    margin: 10px 0;
  }
  .card h4 {
    font-size: 2.8vw;
  }
  .card p {
    font-size: 2vw;
  }
  .card h5 {
    font-size: 1.8vw;
  }
  #file-upload {
    margin: 20px 0;
  }
}

@media only screen and (max-width: 910px) {
  .card h4 {
    font-size: 2.4vw;
  }
  .card p {
    font-size: 1.7vw;
  }
  .card h5 {
    font-size: 1.5vw;
  }
  .modalButton {
    margin-left: -50px;
  }
  .dashboardModal {
    width: 50vw;
    left: 27%;
  }
}

@media only screen and (max-width: 800px) {
  .exitButton {
    left: 90.5%;
    bottom: 93.5%;
  }

  #file-upload {
    margin: 20px -48% 40px;
  }
  .modalButton {
    margin-left: -95px;
  }
  .card h4 {
    font-size: 2.9vw;
  }
  .card p {
    font-size: 2.2vw;
  }
  .card h5 {
    font-size: 2.5vw;
  }
  .modalButton {
    margin-left: -50px;
  }
  .modalButton {
    margin-left: -130px;
  }
}
@media only screen and (max-width: 680px) {
  .modalButton {
    margin-left: -180px;
  }
}

@media only screen and (max-width: 650px) {
  .card {
    width: 33vw;
  }
  .dashboardModal {
    width: 60vw;
  }
  .card h4 {
    font-size: 3.2vw;
  }
  .card p {
    font-size: 2.8vw;
  }
  .card h5 {
    font-size: 2.7vw;
  }
}
@media only screen and (max-width: 550px) {
  #file-upload {
    margin-left: 68px !important;
    width: 120px !important;
  }
  #final-submit {
    margin-right: -32px !important;
  }
  .modalButton {
    margin-left: -165px;
  }
}
@media only screen and (max-width: 470px) {
  .card h4 {
    font-size: 3.5vw;
  }
  .card p {
    font-size: 3vw;
  }
  .card h5 {
    font-size: 2.9vw;
  }
  .bottom-card-button {
    width: 67%;
  }
  h5.dashboard-headers.largeViewText {
    font-size: 4vw;
  }
  h3.dashboard-headers {
    font-size: 7vw;
  }
  .smallViewText {
    display: block;
    font-size: 4vw;
  }
  .largeViewText {
    display: none;
  }
  #dash-row {
    display: none;
  }
  #file-upload {
    display: none;
  }
  #final-submit {
    display: none;
  }
  .smallHistoryDisplay {
    display: block;
    display: initial;
    width: 200px;
    height: 100px;
  }
}
@media only screen and (max-width: 460px) {
  .smallHistoryDisplay {
    display: block;
    display: initial;
  }
  .bottom-card-button {
    width: 67%;
  }

  .card h4 {
    font-size: 6vw;
  }
  .card p {
    font-size: 4vw;
  }
  .card h5 {
    font-size: 4.5vw;
  }
  .bottom-card-button {
    width: 67%;
  }

  .dashboardModal {
    width: 103vw;
    height: 105vh;
    top: 30vh;
    margin-top: -2px;
    left: -1%;
    border: 0px;
    background: #f2f2f2;
    padding-top: 10px;
    animation: none;
  }
  .card {
    width: 60vw;
  }
  .exitButton {
    display: none;
  }
  .modalBackground {
    display: none;
  }
  .smallHistoryDisplay {
    width: 200px;
    height: 100px;
  }
  .input-dashboard {
    display: none;
  }
  .modalButton {
    display: none;
  }
}

@media only screen and (max-width: 416px) {
  .card h4 {
    font-size: 6vw;
  }
  .card p {
    font-size: 4.5vw;
  }
  .card h5 {
    font-size: 4.7vw;
  }

  .dashboardModal {
    width: 103vw;
    height: 105vh;
    top: 30vh;
    margin-top: -2px;
    left: -1%;
    border: 0px;
    background: #f2f2f2;
    padding-top: 10px;
    animation: none;
  }
  .card {
    height: 37vh;
  }
  .exitButton {
    display: none;
  }
  .modalBackground {
    display: none;
  }
  .smallHistoryDisplay {
    width: 200px;
    height: 100px;
  }
  .input-dashboard {
    display: none;
  }
  .modalButton {
    display: none;
  }
}
@media only screen and (max-width: 375px) {
  .dashboardModal {
    top: 32vh;
    /* margin-top: -2px;
    left: -1%;
    border: 0px;
    background: #f2f2f2;
    padding-top: 10px;
    animation: none; */
  }
  .card h4 {
    font-size: 6vw;
  }
  .card {
    height: 35vh;
  }
}

@media only screen and (max-width: 350px) {
  .card h4 {
    font-size: 7vw;
  }
  .card p {
    font-size: 5vw;
  }
  .card h5 {
    font-size: 6.5vw;
  }
  .card {
    width: 70vw;
  }
  .dashboardModal {
    top: 38vh;
    /* margin-top: -2px;
    left: -1%;
    border: 0px;
    background: #f2f2f2;
    padding-top: 10px;
    animation: none; */
  }
  h5.dashboard-headers.largeViewText {
    font-size: 7vw;
  }
  h3.dashboard-headers {
    font-size: 8vw;
  }
  .modalBackground {
    display: none;
  }
  .card {
    width: 55vw;
  }
  .fallOffWhenSmall {
    display: none;
  }
}

@media only screen and (max-width: 320px) {
  .card h4 {
    font-size: 5vw;
  }
  .card p {
    font-size: 4vw;
  }
  .card h5 {
    font-size: 4.5vw;
  }
  .card {
    width: 70vw;
  }
  .dashboardModal {
    top: 38vh;
    /* margin-top: -2px;
    left: -1%;
    border: 0px;
    background: #f2f2f2;
    padding-top: 10px;
    animation: none; */
  }
  h5.dashboard-headers.largeViewText {
    font-size: 7vw;
  }
  h3.dashboard-headers {
    font-size: 8vw;
  }
  .modalBackground {
    display: none;
  }
  .card {
    width: 55vw;
  }
  .fallOffWhenSmall {
    display: none;
  }
}
