#dashboardModal {
  width: 45%;
  height: 60vh;
  position: absolute;
  top: 20%;
  left: 27%;
  border-radius: 4px;
  background-color: white;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
  z-index: 2000;
}
.card {
  height: 40vh;
  width: 22vw;
  margin: 5vh;
  padding: 10px;
  border-radius: 5px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.card h5 {
  font-size: 20px;
  text-decoration: underline;
  text-transform: uppercase;
}
.card p {
  font-size: 16px;
}

.historyContainer {
  /* display: flex;
  justify-content: space-around;
  flex-wrap: wrap; */
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 40% 40%;
  grid-column-gap: 5px;
}
