.dashboardModal {
  width: 46%;
  height: 60vh;
  position: absolute;
  top: 11%;
  left: 25%;
  border-radius: 4px;
  background-color: white;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
  z-index: 2000;
}

.modalBackground {
  height: 200px;
  width: 100px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.5);
}

.card {
  height: 30vh;
  width: 15vw;
  margin: 10px 0;
  margin: 5vh;
  padding: 10px;
  border-radius: 5px;
  /* background-color: #f5f5f5; */
  background-color: #546e7a;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  text-align: center;
  text-decoration: none;
}

.card a {
  color: inherit;
}

.card h5 {
  font-size: 20px;
  text-decoration: underline;
  text-transform: uppercase;
}
.card p {
  font-size: 16px;
  color: white;
}

.bottom-card {
  position: absolute;
  bottom: 8%;
  width: 90%;
}

.hrCard {
  width: 90%;
}
.bottom-card-button {
  width: 40%;
}

.historyContainer {
  height: 490px;

  /* height: 50vh; */

  margin: 5px 5px;
  overflow: scroll;
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 20px;
}

.center-words {
  position: relative;
  left: 10px;
  color: black;
}
.exitButton {
  width: 25px;
  height: 25px;
  position: absolute;
  left: 96.5%;
  bottom: 94.5%;
}
