#dashboardModal {
  width: 45%;
  height: 60vh;
  position: absolute;
  top: 20%;
  left: 27%;
  border-radius: 4px;
  background-color: white;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
  z-index: 2000;
}
.card {
  margin: 5vh;
  padding: 10px;
  border-radius: 5px;
}

.card h5 {
  font-size: 20px;
  text-decoration: underline;
  text-transform: uppercase;
}
.card p {
  font-size: 16px;
}

.historyContainer {
  position: relative;
  /* display: flex;
  justify-content: space-around;
  flex-wrap: wrap; */
  display: grid;
  grid-template-columns: 40% 40%;
  grid-template-rows: 20% 20%;
  grid-column-gap: 10px;
  left: 10%;
}
